
<center><div class="container">
  <form  action="/waiters" method="post">

      <div id="displayreg"><h1>La Dreamia Waiters Webapp</h1><br><br>
 <strong><h3>Enter your Name:</h3></strong></div>

        <br>
        <div id="textFieldAndBtn">
          <input type="text" class="workersName" name="nums" value="" pattern='[A-Za-z]{0,20}' title="Example: Phindie">
          </div><br><br>
      <form action="">
  <input type="checkbox" class="tickbox" name="checkboX" value=""> Monday
  <input type="checkbox"class="tickbox"  name="checkboX" value=""> Tuesday
   <input type="checkbox"class="tickbox"  name="checkboX" value=""> Wednesday
    <input type="checkbox"class="tickbox"  name="checkboX" value=""> Thursday
  <input type="checkbox"class="tickbox"  name="checkboX" value="">Friday
  <input type="checkbox"class="tickbox"  name="checkboX" value=""> Saturday
  <input type="checkbox"class="tickbox"  name="checkboX" value=""> Sunday
</form><br><br>
        <button type="submit" class="btn">ADD</button>

           <a href="/reset"><button type="button" class="btn">RESET</button></a>
          </form> <br>
          <span> <span class="alert"></span> </span>
        
         <br>
         <br>
          
       
 {{#if messages.info}}
<div class="entry">
    <h4> {{messages.info}}</h4>
</div>
{{/if}}
        <div class="numberDisplay"></div>
      
</div></center>
    {{#each regPlates}}
    <li class=''>
      {{town_name}}
     
    </li>
    {{/each}}
    


       
</div>

  <script type="text/javascript">
    function filterBy(elem){
      var  tag = elem.value
      location.href = '/filter/' + tag
    }
  </script>
