.container{
    background-color: sandybrown;
    height: 650px;
    width: 100px;
    border: 4px dotted green;
}
table,tr{
    border:solid palevioletred;
    color:grey;
}
.column{
    width: 100px;
    /* background-color: palevioletred; */
    height: 120px;
    padding-left: 30px;
}
#textFieldAndBtn{
    height: 80px;
    width: 60px;
    margin-right: 110px;
}

.tickbox{
    height: 100px;
    width: 120px;
}
#table {
    padding-top: 25px;
    padding-bottom: 12px;
    text-align: right;
    /* color: white; */
    width: 100%;
}

.btn {
    width: 90px;
    height:50px;
    border: 2px solid;
    border-radius: 5px;
    background-color:indianred ;
    color: white;
  }
  .images{
   width: 40px;
  }
  .photo{
      background-image: url('/views/qxlNN.jpg');
      width: 200px;
      height: 130px;
  }