

.container{
    background-color: sandybrown;
    height: 650px;
    width: auto;
    border: 4px dotted green;
    
    }
#textFieldAndBtn{
    height: 80px;
    width: 60px;
    margin-right: 110px;
}

.tickbox{
    height: 100px;
    width: 120px;
}

.btn {
    width: 90px;
    height:50px;
    border: 2px solid;
    border-radius: 5px;
    background-color:indianred ;
    color: white;
  }
  .images{
   width: 40px;
  }
  .photo{
      background-image: url('/views/qxlNN.jpg');
      width: 200px;
      height: 130px;
  }